/* Output: /dist/css/main.min.css */

/*
global style overrides
should be editing /src/assets/scss/bootstrap/
*/
body {
	background: whitesmoke;
}
footer {
	margin-top: 20px;
	padding: 20px 0;
}
ol {
	padding-left: 20px;
}

/* readme specific */
.readme {
	ol {
		li {
			margin: 20px 0;
		}
	}
}
/* todo specific */
.imagemin {
	max-width: 80%;
}
